<div id="footer" class="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
					<h5><b>Contacto</b></h5>
					<hr>
					<i class="glyphicon glyphicon-home" tooltip="Dirección" tooltip-trigger="mouseenter" tooltip-placement="right"></i> &nbsp; Patagonia 687, Puerto Madryn, Chubut.
					<hr>
					<i class=" glyphicon glyphicon-earphone" tooltip="Teléfono" tooltip-trigger="mouseenter" tooltip-placement="right"></i> &nbsp; (0280) 445-4883
					<hr>
					<i class="glyphicon glyphicon-envelope" tooltip="Email" tooltip-trigger="mouseenter" tooltip-placement="right"></i> &nbsp; <a href="mailto:info@sursoftware.com.ar">info@sursoftware.com.ar</a>
			</div>
			<div class="col-md-4">
					<h5><b>Horarios de atención</b></h5>
        		<hr>
        		Lunes a Viernes de 8:00 a 12:30 y de 14:00 a 18:30.
        		<br>
        		Sábados de 8:00 a 13:00.
        		<hr>
			</div>
			<div class="col-md-4">
				<h5><b></b></h5>
      		<hr>
      		<p></p>
			</div>
		</div>
		<hr>
		<p class="copyright" id="copyright">
			Copyright &copy; 2014 | 
			<a href="#/">VTEIC</a> | 
			Developed by <a href="http://sursoftware.com.ar" target="_blank">SurSoftware</a> | 
			<a href="#/">Inicio</a> | 
			<a href="#/terminos_y_condiciones">Términos y Condiciones</a> | 
			<a href="#/preguntas_frecuentes">Preguntas Frecuentes</a> | 
			<a href="#/contacto">Contacto</a>
		</p>
	</div>
</div>