<span class="badge badge-info" data-ng-show="pagination.count"> {{pagination.getStart()}} a {{pagination.getEnd()}} de un total de {{pagination.getCount()}} elementos encontrados </span>
<div class="text-center" data-ng-show="pagination.count && pagination.count > pagination.cantPerPage">
	<ul class="pagination pagination-centered">
		<li>
			<a data-ng-click="pagination.showPage(-2)"> &lt;&lt; </a>
		</li>
		<li>
			<a data-ng-click="pagination.showPage(-1)"> &lt; </a>
		</li>
		<li data-ng-class="{true: 'active'}[pagination.currentPage === $index + 1]" data-ng-repeat="t in pagination.range track by $index">
			<a data-ng-click="pagination.showPage($index + 1)"> {{t}} </a>
		</li>
		<li>
			<a data-ng-click="pagination.showPage(-3)"> &gt; </a>
		</li>
		<li>
			<a data-ng-click="pagination.showPage(-4)"> &gt;&gt; </a>
		</li>
	</ul>
</div>