<div class="panel panel-info">
  <!-- Default panel contents -->
  <div class="panel-heading">Listado de mensajes</div>
  <div class="panel-body">
        <h4>Mostrando {{aCandidates.length}} de {{allCandidates.length}} registros.</h4>

        <button type="button" data-ng-click="refresh()"  class="btn btn-primary pull-right">
            <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
            &nbsp;Refrescar
        </button>

        <button type="button" data-ng-click="back()"  class="btn btn-primary pull-left" data-ng-click="back()">
            <span class="glyphicon glyphicon-arrow-left"></span>
            &nbsp;Volver
        </button>

  </div>

  <!-- Table -->
  <table class="table table-responsive table-bordered">
          <thead class="thead-inverse">
          <tr>
              <th>Id</th>
              <th>Origen</th>
              <th>Estado</th>
              <th>Nivel</th>
              <th>Tipo</th>
              <th>Descripción</th>
              <th>Timestamp</th>
              <th>Acción</th>
          </tr>
          </thead>

          <tr ng-repeat="msg in aCandidates">
              <td>{{msg.messageId}}</td>
              <td>{{msg.source}}</td>
              <td>{{msg.status}}</td>
              <td>{{msg.level}}</td>
              <td>{{msg.messageType}}</td>
              <td>{{msg.description}}</td>
              <td>{{formatedDate(msg.timestamp)}}</td>
              <td>
                <button type="button" class="btn btn-info" data-ng-click="viewMessage(msg)">
                    <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                &nbsp;Ver mensaje</button>
              </td>
          </tr>
    </table>
</div>

<div class="col-md-8 col-md-offset-4 pagination-inverse" >
    <ul uib-pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage" previous-text="Anterior" next-text="Siguiente" max-size="10"></ul>
</div>
