<div class="panel panel-danger">
  <!-- Default panel contents -->
  <div class="panel-heading">Mensajes erroneos</div>
  <div class="panel-body">
        <h4>Mostrando {{aCandidates.length}} de {{allCandidates.length}} registros.</h4>
  </div>

  <!-- Table -->
  <table class="table table-responsive table-bordered">
          <thead class="thead-inverse">
          <tr>
              <th>Id</th>
              <th>Imei</th>
              <th>Tipo</th>
              <th>SubTipo</th>
              <th>Descripción</th>
              <th>Timestamp</th>
              <th>Acción</th>
          </tr>
          </thead>

          <tr ng-repeat="msg in aCandidates">
              <td>{{msg.messageId}}</td>
              <td>{{msg.imei}}</td>
              <td>{{msg.messageType}}</td>
              <td>{{msg.subType}}</td>
              <td>{{msg.description}}</td>
              <td>{{msg.timestamp}}</td>
              <td>
                <button type="button" class="btn btn-info" data-ng-click="resend(msg)">
                    <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                    &nbsp;Solicitar
                </button>

                <button type="button" class="btn btn-danger" data-ng-click="reject(msg)">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    &nbsp;Descartar
                </button>

              </td>
          </tr>
    </table>
</div>

<div class="col-md-6 col-md-offset-4 pagination-inverse" >
    <ul uib-pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage" previous-text="Anterior" next-text="Siguiente" max-size="10"></ul>
</div>
